* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  box-sizing: border-box;
}

.login-card {
  border-radius: 20px;
}

.img1 {
  width: 70px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number] {
  -moz-appearance: text-field;
} */